
        <mat-card>
            <mat-card-header >
                    <div mat-card-avatar class="example-header-image">
                            <mat-icon class="example-icon ">lock</mat-icon>
                    </div>
            <mat-card-title>
                
                    <span>Login</span>
            </mat-card-title>
            </mat-card-header>
            <mat-card-content>	     
                          <mat-form-field class="form-group">
                              <input type="email"  placeholder="Email" matInput >
                            </mat-form-field>
                            <mat-form-field class="form-group">
                                <input type="password"  placeholder="password" matInput >
                              </mat-form-field>
                          <div class="checkbox">
                              <mat-checkbox>Remember Me</mat-checkbox>
                              <label class="pull-right">
                  <a href="#">Forgotten Password?</a>
                </label>

                          </div>
                          <button mat-button >Login</button>
                          <div class="register-link m-t-15 text-center">
                              <p>Don't have account ? <a href="#"> Sign Up Here</a></p>
                          </div>
             </mat-card-content>             
</mat-card>                          
                     